/* FeaturesSection Styles */
.featuresSection {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Adjust the height as needed */
    text-align: center;
  }


.featureTag {
  display: inline-block;
  background-color: yellow;
  color: black;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem; /* text-sm equivalent */
}

.featureTitle {
  font-size: 2.25rem; /* 3xl equivalent */
  font-weight: bold;
  letter-spacing: -0.05em;
}

.featureDescription {
  color: gray;
  font-size: 1.25rem; /* xl equivalent */
}

.featureImage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featureImage img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.375rem; /* rounded-xl equivalent */
}


/* Additional Features Styles */

.additionalFeatures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.featureItem {
  text-align: center;
}

.featureItem h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.featureItem p {
  font-size: 0.875rem;
  color: gray;
}


.featureItem svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
