/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    gap: 2;
    border-top: 1px solid #444;
    padding: 6px 0;
    width: 100%;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    gap: 4;
  }
  
  /* Add other styles as needed */
  