/* Page.css */
.page {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  min-height: 80vh;
  background-color: rgb(17 24 39);
}

.square {
  width: 1400px;
  height: 870px;
  background-color: #3b3c3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.wait {
    background-image: url('/Partially+Knowing+Eye.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /* Set appropriate width */
    height: 100%; /* Set appropriate height */
    display: flex;
    justify-content: center;
    align-items: center;
}


.gameArea {
  width: 1400px;
  height: 800px;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalLine {
  position: absolute;
  left: 50%;
  top: 0px;
  bottom: 0px;
  border-left: 2px dashed #d3cfd8;
  z-index: 1;
}

.leftScore,
.rightScore {
  position: absolute;
  font-size: 49px;
  color: black;
  top: 2px;
  left: 48.8%;
}

.leftScore {
  transform: translateX(-40px);
}

.rightScore {
  transform: translateX(40px);
}